.primary {
	color: var(--primary-color);
}

.secondary {
	color: var(--secondary-color);
}

.red {
	color: red;
}

.inverted_secondary {
	color: var(--inverted-secondary-color);
}

.inverted_primary {
	color: var(--inverted-primary-color);
}
