.Wrapper {
	display: flex;
	margin-top: 10px;
}

.placeholder {
	margin-right: 5px;
}

.select {
	background-color: var(--bg-color);
	color: var(--primary-color);
	border: none;
}

.readonly {
	opacity: 0.7;
	.select {
		opacity: 0.8;
	}
}
