.items {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.link {
	margin-left: 10px;
	opacity: 1;
}

.item {
	margin-top: 10px;
	display: flex;
	align-self: center;
	justify-content: center;
}

.icon {
	fill: var(--inverted-primary-color);
	width: 20px;
	height: 20px;
	background-size: 30px;
}

.collapsed {
	.link {
		opacity: 0;
		transition: 2s opacity;
		width: 0;
	}
}
