.title {
	font: var(--font-l);
	color: var(--primary-color);
}

.text {
	color: var(--secondary-color);
}

.error {
	.title {
		color: var(--red-light);
	}

	.text {
		color: var(--red-dark);
	}
}

.inverted {
	.title {
		color: var(--inverted-primary-color);
	}

	.text {
		color: var(--inverted-secondary-color);
	}
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.size_m {
	.text {
		font: var(--font-m);
	}
	.title {
		font: var(--font-l);
	}
}

.size_l {
	.text {
		font: var(--font-l);
	}
	.title {
		font: var(--font-xl);
	}
}
