.app_dark_theme {
	--bg-color: #000227;
	--inverted-bg-color: #e6e6e6;
	--secondary-color: #99ff9e;
	--primary-color: #00fe2c;
	--inverted-primary-color: #303594;
	--inverted-secondary-color: #000227;
}
