.app.dark {
    --bg-color: rgb(16, 48, 97);
    --inverse-bg-color: #e8e8ea;
    --primary-color: rgb(33, 123, 45);
    --secondary-color: rgb(96, 213, 18);
    --inverse-primary-color: rgb(43, 100, 214);
    --inverse-secondary-color: rgb(15, 29, 118);
}