.app_green_theme {
	--inverted-bg-color: #2e3c7e;
	--bg-color: #fbeaeb;
	--inverted-secondary-color: #b7bcba;
	--secondary-color: #3c758b;
	--inverted-primary-color: #ffffff;
	--primary-color: #7314c6;
}
