.app_green_theme {
	--bg-color: #fbeaeb;
	--inverted-bg-color: #2e3c7e;
	--inverted-secondary-color: #b7bcba;
	--secondary-color: #3c758b;
	--inverted-primary-color: #ffffff;
	--primary-color: #7314c6;
	--skeleton-color: #efcbdc;
	--skeleton-shadow: #c19bcf;
	--code-bg: #e8a1a5;
	--card-bg: #f6c1c4;
}
