:root {
	--inverted-bg-color: rgb(16 48 97);
	--bg-color: #e8e8ea;
	--primary-color: rgb(43 100 214);
	--secondary-color: rgb(15 29 118);
	--inverted-primary-color: rgb(33 123 45);
	--inverted-secondary-color: rgb(96 213 18);
}
