:root {
	--bg-color: #e6e6e6;
	--inverted-bg-color: #000227;
	--primary-color: #303594;
	--secondary-color: #000227;
	--inverted-primary-color: #99ff9e;
	--inverted-secondary-color: #00fe2c;
	--skeleton-color: #fff;
	--skeleton-shadow: #bbc2be;
	--code-bg: #fff;
	--card-bg: #a9a3a3;
}
