.ProfileCard {
	padding: 20px;
	border: 2px solid var(--inverted-bg-color);
	max-width: 400px;
}

.AvatarWrapper {
	display: flex;
	width: 100%;
	justify-content: center;
}

.input {
	margin-top: 10px;
}

.loading {
	display: flex;
	align-items: center;
	justify-content: center;
}

.editting {
	border: 3px solid var(--inverted-primary-color);
}
